button#esci {
    color: #ff0000;
    background-color: #fbfbfb;
    border-color: #d9534f00;
	margin-left: 99px;
}

button#chiudi {
    color: #000;
    background-color: #fbfbfb;
    border-color: #d9534f00;
}

/* div#Logout {
    margin-top: 35px;
    margin-left: 1546px;
}  */

.modal-dialog {
  position: absolute;
  top: 30px;
  right: 15px;
  bottom: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

