input#start, input#end {
    margin-top: 22px;
}
.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr>td {
    text-align: left;
    border-left-width: 0;
    border-left-style: none;
    border-right-width: 1px;
    border-right-style: solid;
    height: 40px;
    font-size: 15px;
}
.ui-jqgrid .ui-jqgrid-hdiv .ui-search-toolbar input {
    margin: 1px 0 0 0;
    height: 25px;
    font-size: 13px;
}
.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels th div {
    overflow: hidden;
    position: relative;
    height: auto;
    margin: 2px 2px;
    height: 21px;
    font-size: 17px;
}

.ui-widget-content {
    border: 1px solid #b8bec3;
    background: #fcfdfd 50% bottom repeat-x;
    color: #222;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #b8bec3;
    background: #FFF  50% 50% repeat-x; 
    font-weight: bold;
    color: #3b3f42;
}

jquery-ui.min.css:7
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #c5dbec;
    background: #FFF 50% 50% repeat-x; 
    font-weight: bold;
    color: #2e6e9e;
}